<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MyCon" connectionString="Data Source=DESKTOP-LNTJUIU;Initial Catalog=BookShopPublisher;Integrated Security=true;"  providerName="System.Data.SqlClient"/>
    <add name="Psgs" connectionString="User ID=postgres;Password=annushka123;Host=127.0.0.1;Port=5432;Database=p_labeling;Pooling=true;Timeout=120;CommandTimeout=200;"  providerName="Npgsql"/>
  </connectionStrings>

</configuration>